@model ShipFood.API.Models.TbVoucher

@{
    ViewData["Title"] = "Thêm Voucher";
}

<div class="card">

    <div class="card-header">
        <h4>Thêm Voucher</h4>
    </div>

    <div class="card-body">

        <form method="post">

            <div class="mb-3">
                <label>Mã Voucher</label>
                <input asp-for="Code" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Giá trị giảm</label>
                <input asp-for="DiscountValue" class="form-control" />
            </div>

            <div class="form-check mb-3">
                <input asp-for="IsPercent" class="form-check-input" />
                <label class="form-check-label">
                    Giảm theo %
                </label>
            </div>

            <div class="mb-3">
                <label>Ngày bắt đầu</label>
                <input asp-for="StartDate"
                       type="date"
                       class="form-control" />
            </div>

            <div class="mb-3">
                <label>Ngày kết thúc</label>
                <input asp-for="EndDate"
                       type="date"
                       class="form-control" />
            </div>

            <button class="btn btn-success">
                Lưu
            </button>

        </form>

    </div>

</div>